* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: Roboto,sans-serif;
}

a:hover {
  text-decoration: none;
}

.nav {
  background-color: #212121;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  ms-flex-pack: justify;
  padding: 10px 70px 16px;
  webkit-box-pack: justify;
  webkit-justify-content: space-between;
}

.menu_link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted #000;
  padding-right: 30px;
}

.menu_item:last-child {
  border-right: none;
  padding-right: 0;
}

.header {
  position: relative;
}

.subheader {
  background-color: rgba(0, 0, 0, 0.6);
  height: 84px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  min-width: 100%;
}

.subheader_official {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
  opacity: .5;
}

.subheader_call {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  color: #fff;
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 8px;
  text-align: right;
  text-transform: uppercase;
}

.subheader_btn {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0, #4ce2ff 100%);
  background-image: -webkit-linear-gradient(bottom, #1eacc7 0, #4ce2ff 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 46px;
  margin-top: 19px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  width: 172px;
}

.promo {
  background: url(../img/header_fons.png) center center/cover no-repeat;
  min-height: 800px;
  padding: 150px 0 135px;
}

.promo_header {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.promo_subheader {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-top: 23px;
  text-align: center;
}

.promo_btn {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0, #4ce2ff 100%);
  background-image: -webkit-linear-gradient(bottom, #1eacc7 0, #4ce2ff 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 400;
  height: 63px;
  margin: 118px auto 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  width: 259px;
}

.advantages_frame {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: 400;
  height: 24px;
  margin: 71px auto 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
}

.advantages_headline {
  color: #222;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.advantages_block {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  margin-top: 32px;
  min-height: 142px;
}

.advantages_block_around {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1eacc7;
  border-radius: 100%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  height: 113px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 26px 0 27px;
  min-width: 113px;
  ms-flex-align: center;
  ms-flex-pack: center;
  webkit-align-items: center;
  webkit-box-align: center;
  webkit-box-pack: center;
  webkit-justify-content: center;
}

.advantages_img {
  margin: 0 auto;
}

.advantages_text {
  display: inline-block;
}

.advantages_hedeartext {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

.advantages_description {
  color: #202020;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  padding: 2px 30px 0 0;
  text-align: justify;
}

.mobapp {
  background: url(../img/background_mobapp.png) center center/cover no-repeat;
  margin-top: 50px;
  padding: 48px 0 60px;
}

.mobapp_frame {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: 400;
  height: 24px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
}

.header_textmobapp {
  color: #222;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
  margin-top: 27px;
  text-align: center;
  text-transform: uppercase;
}

.text_mobapp {
  color: #222;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 31px;
  margin-top: 6px;
  text-align: center;
}

.mobapp_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mobapp_box_1 {
  background: url(../img/1.png) center center/cover no-repeat;
}

.mobapp_box_2 {
  background: url(../img/2.png) center center/cover no-repeat;
}

.mobapp_box_3 {
  background: url(../img/3.png) center center/cover no-repeat;
}

.mobapp_box_4 {
  background: url(../img/4.png) center center/cover no-repeat;
}

.mobapp_box_5 {
  background: url(../img/5.png) center center/cover no-repeat;
}

.mobapp_box_6 {
  background: url(../img/6.png) center center/cover no-repeat;
}

.mobapp_box_1, .mobapp_box_2, .mobapp_box_3, .mobapp_box_4, .mobapp_box_5, .mobapp_box_6 {
  width: 320px;
  height: 280px;
  text-align: center;
  width: 320px;
  height: 280px;
  margin-bottom: 19px;
  padding: 0 10px;
}

.mobapp_box_1 .mobapp_box_text, .mobapp_box_2 .mobapp_box_text, .mobapp_box_3 .mobapp_box_text, .mobapp_box_4 .mobapp_box_text, .mobapp_box_5 .mobapp_box_text, .mobapp_box_6 .mobapp_box_text {
  padding-top: 85px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.mobapp_box_1 .mobapp_box_plus, .mobapp_box_2 .mobapp_box_plus, .mobapp_box_3 .mobapp_box_plus, .mobapp_box_4 .mobapp_box_plus, .mobapp_box_5 .mobapp_box_plus, .mobapp_box_6 .mobapp_box_plus {
  position: absolute;
  top: 219px;
  left: 50%;
  margin-left: -13px;
}

.car {
  background: url(../img/beack_fone.png) center center/cover no-repeat;
}

.car .container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  ms-flex-pack: center;
  position: relative;
  webkit-box-pack: center;
  webkit-justify-content: center;
}

.car_blok {
  padding-bottom: 310px;
  padding-top: 57px;
  position: relative;
}

.car_frame {
  background-color: #fff;
  color: #000;
  display: block;
  font-size: 11px;
  font-weight: 400;
  height: 24px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
}

.header_cartext {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.car_text {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.position_img {
  height: 480px;
  position: absolute;
  top: 232px;
}

.car_futer {
  background: url(../img/car_futer.png) center center/cover no-repeat;
}

.car_futer_text {
  color: #222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 213px 0 138px;
  text-align: center;
}

p {
  margin: 0;
}

.conditions_frame {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: 400;
  height: 24px;
  margin: 68px auto 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
}

.text_conditions {
  color: #222;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.information_1 {
  margin-bottom: 33px;
}

.header_information {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
  margin-top: 15px;
}

.information_text_green, .information_text_red {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}

.img_icon {
  margin-left: 19px;
}

.text_information {
  color: #222;
  font-size: 17px;
  font-weight: 300;
  line-height: 31px;
  margin-left: 10px;
}

.to_earn {
  color: #1eacc7;
  font-weight: 300;
  margin-top: 10px;
}

.header_information_red {
  color: #ff5656;
  font-size: 22px;
  font-weight: 400;
  margin-top: 15px;
}

.footer_map {
  background: url(../img/footer_fone.png) center center/cover no-repeat;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  margin-top: 57px;
  padding: 49px 0 25px;
}

.city_button {
  background-color: #fff;
  color: #070716;
  display: block;
  font-size: 11px;
  font-weight: 400;
  height: 24px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 76px;
}

.headertext_map {
  color: #fff;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 22px;
  text-align: center;
  text-transform: uppercase;
}

.text_map {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
}

.city {
  color: #1eacc7;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  margin-top: 463px;
  text-align: center;
  text-transform: uppercase;
}

.footer_container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
  ms-flex-pack: justify;
  padding: 15px 0px 30px;
  webkit-box-pack: justify;
  webkit-justify-content: space-between;
}

.footer_container .social {
  width: 25%;
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_container .social .social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-color: #070716;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_container .social .social_icon .social_contact {
  color: #fffdfdfa;
}

.navigation {
  width: 50%;
}

.navigation_block {
  margin: 0 auto;
  max-width: 390px;
}

.navigation_block .line {
  background-color: #1eacc7;
  height: 4px;
  margin: 0 auto;
  width: 299px;
}

.navigation_block .nav_menu_top {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
  ms-flex-pack: distribute;
  webkit-justify-content: space-around;
}

.navigation_block .menu_top {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation_block .nav_menu {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8px;
  ms-flex-pack: distribute;
  webkit-justify-content: space-around;
}

.navigation_block .nav_menu .menu_bottom {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation_block .language {
  color: #1eacc7;
  font-size: 11px;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.buy {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 25%;
  ms-flex-pack: end;
  padding-top: 37px;
  webkit-box-pack: end;
  webkit-justify-content: end;
}

.buy .buy_1 {
  display: block;
  height: 25px;
  padding-right: 10px;
  width: 100px;
}

.end_line {
  background-color: #070716;
  height: 12px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 55px;
  }
  .subheader_btn {
    margin-left: 30px;
  }
  .advantages_description {
    padding-right: 5px;
  }
  .advantages_block {
    display: block;
  }
  .advantages_block_around {
    width: 113px;
    margin-left: 0;
    margin: 0 auto 15px;
  }
  .advantages_text {
    text-align: center;
  }
  .footer_container .buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer_container .buy_1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .menu {
    padding: 10px;
  }
  .menu_item {
    padding-right: 13px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_logo img {
    width: 90%;
  }
  .subheader_phone {
    font-size: 20px;
  }
  .subheader_btn {
    margin-left: 40px;
  }
  .city {
    margin-top: 200px;
  }
  .footer_container {
    padding-bottom: 15px;
  }
  .footer_container .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
  .footer_container .social_icon {
    margin: 2px 0;
  }
  .footer_container .buy {
    padding-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_active a {
    line-height: 3;
  }
  .menu_item {
    padding-right: 0;
    border: none;
  }
  .menu_link {
    font-size: 20px;
    line-height: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transform: 0.5s all;
            transform: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader {
    height: 106px;
  }
  .subheader_logo img {
    width: 97%;
    margin: 22px 0 0 -5px;
  }
  .subheader_phone {
    font-size: 21px;
    padding: 12px 29px 0 0;
  }
  .subheader_btn {
    font-size: 18px;
    height: 39px;
    margin-top: 20px;
    width: 195px;
  }
  .promo_header {
    line-height: 1.2;
    margin-top: 88px;
  }
  .promo_subheader {
    margin-top: 39px;
    line-height: 1.2;
  }
  .advantages_block {
    display: block;
  }
  .advantages_block_around {
    width: 113px;
    margin-left: 0;
    margin: 0 auto 15px;
  }
  .advantages_text {
    text-align: center;
  }
  .position_img img {
    width: 100%;
    margin-top: 25px;
  }
  .car_futer_text {
    padding: 80px 0 10px;
  }
  .city {
    margin-top: 120px;
  }
  .city .menu_top {
    font-size: 13px;
  }
  .city .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .menu_active {
    width: 78%;
  }
  .menu_link {
    font-size: 19px;
  }
  .nav {
    height: 60px;
  }
  .subheader {
    height: 80px;
    top: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo img {
    margin-top: 14px;
  }
  .subheader_phone {
    font-size: 15px;
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .subheader_btn {
    display: block;
    margin-left: 50px;
    margin: 0px;
    height: 30px;
    width: 150px;
    font-size: 12px;
  }
  .promo {
    min-height: 0px;
    padding: 150px 0 60px;
  }
  .promo_header {
    font-size: 35px;
    margin: 0;
  }
  .promo_subheader {
    font-size: 20px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    margin-top: 50px;
    width: 200px;
    height: 50px;
  }
  .advantages_frame {
    margin-top: 30px;
  }
  .advantages_headline {
    font-size: 15px;
  }
  .advantages_block {
    margin-top: 10px;
  }
  .mobapp {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .mobapp .header_textmobapp {
    font-size: 17px;
    margin: 0;
  }
  .mobapp .text_mobapp {
    margin-top: 0;
  }
  .car_futer {
    background: #000;
  }
  .car_futer_text {
    color: #fff;
    padding: 20px 0 20px;
  }
  .car_blok {
    padding-bottom: 200px;
    padding-top: 20px;
  }
  .header_cartext, .car_text {
    display: none;
  }
  .position_img {
    top: 45px;
    width: 360px;
  }
  .conditions_frame {
    margin-top: 20px;
  }
  .text_conditions {
    font-size: 22px;
    margin-top: 0;
  }
  .header_information {
    margin-top: 0;
  }
  .img_icon {
    margin-left: 5px;
  }
  .footer_map {
    padding: 20px 0 0;
  }
  .headertext_map {
    margin: 0;
    font-size: 16px;
  }
  .text_map {
    font-size: 15px;
  }
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_container .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 20px 0;
  }
  .footer_container .social .social_icon {
    margin: 0 5px;
    padding: 4px 0 0 1px;
  }
  .navigation {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navigation .menu_top {
    font-size: 13px;
    margin-top: 0;
  }
  .navigation .nav_menu {
    padding: 0 22px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer_container .buy {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer_container .buy_1 {
    margin-bottom: 0;
  }
  .end_line {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */